/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.navbar-nav {
  padding-top: 9vh;
}

.mr-auto {
  display: flex;
}

.search_icon {
  padding-left: 26vw;
}

.nav-item {
  padding-right: 25px;
}

.nav-item-content, {
  color: yellow !important;
}

.star {
  color: yellow;
}

#kirakirapoint .kirakira_point_score {
  font-size: 25px;
}

.diary_index_title {
  font-size: 25px !important;
}

.inputBody {
  width: 70%;
}

.error_message {
  color: red;
}

.user_menu_content {
  color: grey !important;
}

.link_user_name {
  color: black;
}